# !! THIS IS AN EXAMPLE CONFIGURATION FILE !!
# Copy this file to .env and adjust the values to your needs

# The base url of the backend server to reach the API
VUE_APP_SERVER_BASE_URL=http://localhost:8081

# The Application Title
VUE_APP_NAME=Amt Süderbrarup - Buchungsplattform

# Default file extensions allowed in file uploads
VUE_APP_ALLOWED_EXT_DEFAULT=pdf,doc,docx,xls,xlsx,ppt,pptx,txt,zip,rar,7z,md

# Default file extensions allowed in image uploads
VUE_APP_ALLOWED_EXT_IMAGES=jpg,jpeg,png,svg

# Set to true to enable the production mode
VUE_APP_IS_PRODUCTION=false

# Contact information
VUE_APP_CONTACT_ADDRESS=Amt Süderbrarup, team Allee 22, 24392 Süderbrarup
VUE_APP_CONTACT_URL=https://www.amt-suederbrarup.de/kontakt
